//-----------------------------------------------------------------------------
// Pages: Pen.
//-----------------------------------------------------------------------------

.pen {
  img {
    height: auto;
    width: 256px;
  }

  .grid {
    display: flex;
    margin: 0 -1rem;

    .col {
      margin: 1rem 1rem 0;
    }
  }

  article {
    footer {
      background-color: transparent;
      margin-top: 1rem;
    }
  }
}
