//-----------------------------------------------------------------------------
// Components: Footer.
//-----------------------------------------------------------------------------

footer {
  section {
    padding: 1rem 0;

    p {
      text-align: center;
    }

    .heart {
      color: $color-heart;
      font-size: 1.25rem;
    }
  }
}
