//-----------------------------------------------------------------------------
// Components: Navigation.
//-----------------------------------------------------------------------------

header {
  nav {
    display: flex;
    justify-content: space-between;

    ul {
      li {
        display: inline-block;
        vertical-align: middle;

        a {
          display: block;
          font-size: 1.25rem;
          line-height: 4rem;
          text-decoration: none;

          &:hover {
            color: $color-blue;
          }
        }

        & + li {
          margin-left: 2rem;
        }
      }
    }

    .logo {
      height: auto;
      width: 4rem;
    }
  }
}
