//-----------------------------------------------------------------------------
// Helpers: Variables.
//-----------------------------------------------------------------------------

// Colors.
$color-lighter-grey: #5a5f73;
$color-light-grey: #444857;
$color-dark-grey: #1e1f26;
$color-darker-grey: #131418;
$color-heart: #df000f;
$color-white: #ffffff;
$color-blue: #1389fd;
$color-orange: #f0680e;
$color-green: #1db954;
$color-light-green: #1ed760;

// Misc.
$content-wrap-max-width: 80rem; // 1280px
$transition-ease-in-out-short: all 0.2s ease-in-out 0s;
$transition-ease-in-out: all 0.4s ease-in-out 0s;
