//-----------------------------------------------------------------------------
// Base: Base Styling.
//-----------------------------------------------------------------------------

* {
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
}

html {
  background-color: $color-dark-grey;
  color: $color-white;
  //font-family: $font-poppins;
  font-size: 100%;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
}

a {
  color: $color-white;
}
